.contenedor {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;   
}

.barra-lateral-contenido {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.barra-lateral {
    padding: 1rem;
}

.espaciado {
    flex: 1 1 auto;
}

/*Botón de selección de idioma*/
.btn-idioma {
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}

/*Imagen para cada botón de idioma
1.buscarlo en https://restcountries.eu/rest/v2/name/nombredelpais
2.ponerlo en la carpeta /img/lang/xx.svg
*/
.btn-idioma-es {
    background-image: url(/assets/img/lang/es.svg);
}
.btn-idioma-en {
    background-image: url(/assets/img/lang/en.svg);
}
.btn-idioma-fr {
    background-image: url(/assets/img/lang/fr.svg);
}
